$fontGothamProRegular:'Gotham Pro Regular',sans-serif;
$fontGothamProBold:'Gotham Pro Bold',sans-serif;
$fontManropeProSemiBold:'GManrope Pro Semi Bold',sans-serif;
$fontMontserratMedium:'Montserrat Medium',sans-serif;
$fontMontserratBold:'Montserrat Bold',sans-serif;