$blue: #1749B3;
$red: #FE0000;
$black1: #333333;
$black2: #171717;
$black3: #030303;
$black4: #0F0F0F;
$white: #FFFFFF;
$background: #ECF3FB;
$background2: #E1DCEB;
$background3: #F1F4F8;
$background4: #DFDFDF;
$background-popup: #E5E5E5;
$green: #1ED760;
$soft-grey: #D3D3D3;
$modal-grey: #F7F7F7;
$modal-blue: #070033;
$active-blue: #4B84FD;
$active-black: #606060;
$grey: #8F8F8F;
$grey2: #838099;
$grey3: #CECBDF;
$grey4: #7F7F7F;
$grey5: #919191;